.card:hover img{
    transform: scale(1.2,1.2);
    transition-duration: 500ms;
    transition-timing-function: ease-out;
    opacity: 0.7;
}

.card img{
    transform: scale(1.0,1.0);
    transition-duration: 500ms;
    transition-timing-function: ease-out;
}
.card-img-wrapper{
    overflow: hidden;
    position: relative;
} 
 .member-icons{
    position: absolute;
    bottom: -30%;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
    opacity: 0;
}
.card-img-wrapper:hover .member-icons{
    bottom: 0;
    opacity: 1;
}

.animate{
    transition: all 0.3s ease-in-out;
}

/* @keyframes fa-blink{
    0%{opacity: 1;}
    100%{opacity: 0.4;}

}

.is-online{
    animation: fa-blink 1.5s linear infinite;
    color: rgb( green);
} */

/* .is-online i {
  color: green;
  animation: blink 1s infinite;
}

@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0.2; }
  100% { opacity: 1; }
} */
 .is-online i {
  color: #00ff00;
  animation: glowPulse 1.5s infinite ease-in-out;
}

@keyframes glowPulse {
  0% {
    text-shadow: 0 0 5px #00ff00, 0 0 10px #00ff00, 0 0 20px #00ff00;
    transform: scale(1);
    opacity: 1;
  }
  50% {
    text-shadow: 0 0 10px #33ff33, 0 0 20px #33ff33, 0 0 30px #33ff33;
    transform: scale(1.1);
    opacity: 0.7;
  }
  100% {
    text-shadow: 0 0 5px #00ff00, 0 0 10px #00ff00, 0 0 20px #00ff00;
    transform: scale(1);
    opacity: 1;
  }
}

