<div class="container">
    <div *ngIf="!registerMode" style="text-align: center;">
        <b><h1 class="lead">Find Your Match</h1></b>
        <p class="lead">Come on in to view your matches... all you need to do is sign up!</p>
        <div class="text-center">
            <button (click)="RgisterToggle()" class="btn btn-primary btn-medium me-2">Register</button>
            <button class="btn btn-primary btn-medium ">Learn More</button>
        </div>        
    </div>

    <div *ngIf="registerMode" class="container">
        <div class="row justify-content-center">
            <div class="col-4"> 
                <app-register  (cancleRegister)="cancleRegistration($event)"></app-register> 
            <!-- <app-register [userFromHomeComponent]="user" (CancleRegister)="CancleRegistration($event)"></app-register> -->
            </div>
        </div>
    </div>
<!-- </div> -->
